<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.CheckSetmealMapper">

    <insert id="addCheckSetmeal" useGeneratedKeys="true" keyProperty="id">
        insert into t_setmeal (code, name, sex, age, price, helpCode, attention, remark, img)
        values (#{code}, #{name}, #{sex}, #{age}, #{price}, #{helpCode}, #{attention}, #{remark}, #{img})
    </insert>

    <update id="upDateCheckSetmeal">
        update t_setmeal
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="price != null">price = #{price},</if>
            <if test="helpCode != null">helpCode = #{helpCode},</if>
            <if test="attention != null">attention = #{attention},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="img != null">img = #{img}</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.itheima.pojo.Setmeal">
        select *
        from t_setmeal
    </select>

    <select id="findById" resultType="com.itheima.pojo.Setmeal">
        select *
        from t_setmeal
        where id = #{id}
    </select>

</mapper>