<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.ReservationSetMapper">

    <insert id="setReservation">
        insert into t_ordersetting (orderDate, number) values
        <foreach collection="orderSettings" item="order" separator=",">
            (#{order.orderDate}, #{order.number})
        </foreach>
    </insert>

    <select id="getOrderSettingByMonth" resultType="com.itheima.pojo.OrderSetting">
        select *
        from t_ordersetting
        where year (orderDate) = #{year}
          and month (orderDate) = #{month}
    </select>

    <update id="editNumberByOrderDate">
        update t_ordersetting
        set number = #{number}
        where orderDate = #{date}
    </update>

</mapper>